# Variables de entorno institucionales
MTC_API_URL="https://slcp.mtc.gob.pe/"
SUTRAN_API_URL="https://www.sutran.gob.pe/"
SUNARP_API_URL="https://conoce-aqui.sunarp.gob.pe/"
SAT_API_URL="https://www.sat.gob.pe/"
PNP_API_URL="https://sistemas.policia.gob.pe/"
