# --- CONFIGURACIÓN DE NÚCLEO ---
# MODOS: real | mock (usar mock en desarrollo para no gastar créditos)
API_MODE="mock" 
# PROVEEDORES: json_pe | eldni
API_PROVIDER="json_pe"

# --- CREDENCIALES ---
# Obtén tu token en https://json.pe
JSON_PE_TOKEN="tu_token_aqui"

# --- REFERENCIAS (OPCIONAL) ---
#MTC_API_URL="https://slcp.mtc.gob.pe/"
#SUTRAN_API_URL="https://www.sutran.gob.pe/"
#SUNARP_API_URL="https://conoce-aqui.sunarp.gob.pe/"
#SAT_API_URL="https://www.sat.gob.pe/"
#PNP_API_URL="https://sistemas.policia.gob.pe/"
